@include mobile_sm {
  .btn_blk {
    .site_btn {
      width: 100%;
    }
  }
}
#smallbanner {
  padding-top: 13rem;
  padding-bottom: 10rem;

  @include mobile_md {
    padding-top: 9rem;
  }
  @include mobile_md {
    padding-bottom: 4rem;
  }
  .sec_heading {
    h4 {
      margin-bottom: 20px;
    }
  }
}

.outer_blk {
  background-color: #1a1a1a;
  border: 1px solid #2563eb5c;
  border-radius: 21px;
  padding: 7rem;
  @include ipad_sm {
    padding: 5rem;
  }
  @include mobile_md {
    padding: 3rem;
  }

  &.sm_outer {
    padding: 3rem;
  }
}

#aboutme {
  padding: 0;

  .col {
    @include ipad_b {
    width: 32%;

    .image {
      height: 100%;
      width: 100%;
      flex: unset;
      padding-bottom: 20px;
    }
    width: 32%;
    .image_o {
      padding-bottom: 166%;
      @include ipad_b {
        padding-bottom: 115%;
      }
      @include ipad_sm {
        padding-bottom: 83%;
      }
      @include mobile_md {
        padding-bottom: 125%;
      }
      @include radius(21px);
      overflow: hidden;

      img {
        object-fit: cover;
        @include ipad_sm {
          object-position: top;
        }
      }
    }
  }

  .colr {
    width: 67%;
    @include ipad_b {
      width: 100%;
      padding-left: 0;
    }
    padding-left: 20px;

    p {
      margin-bottom: 3rem;
    }

    .outer_blk {
      .block {
        background-color: #020202;
        padding: 30px 40px;
        border-left: 3px solid #2563eb;
        border-radius: 11px;
        font-size: 35px;
        font-family: "Italic";
        line-height: 45px;
        margin-top: 3rem;
        @include mobile_md {
          font-size: 28px;
        }
      }

      .btn_blk {
        margin-top: 40px;
      }
    }
  }
}

.groundup {
  .outer_blk {
    .flex {
      justify-content: center;

      .cols {
        @include ipad_b {
          width: calc(100% / 2);
        }
        @include mobile_b {
          width: 100%;
        }
        .inner {
          background-color: #020202;
          @include mobile_md {
            padding: 28px;
          }
          h6 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

#history {
  padding-top: 0;

  .sec_heading {
    margin-bottom: 40px;
    p {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  ul {
    @include list;

    li {
      display: flex;
      gap: 60px;
      @include mobile_md {
        flex-wrap: wrap;
        gap: unset;
      }

      &:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 1px solid #3c3c3c;
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 0;
        width: 25%;
        font-size: 22px;

        @include mobile_md {
          width: 100%;
          padding-bottom: 8px;
        }
      }

      .text {
        flex: 1;
        @include mobile_md {
          width: 100%;
          flex: unset;
        }
        h4 {
          margin-bottom: 2rem;

          span {
            color: #ffffffd9;
            font-family: "Italic";
          }
        }

        p {
          color: #ffffffd9;
          margin-bottom: 0;
        }
      }
    }
  }
}

#missvision {
  padding: 0;

  .outer_blk {
    display: flex;
    gap: 70px;
    @include mobile_md {
      flex-wrap: wrap;
      gap: unset;
      .inner {
        &:first-child {
          padding-bottom: 15px;
        }
      }
    }
  }
}

#counting {
  padding-bottom: 0;
  padding-top: 5rem;

  .outer_blk {
    display: flex;
    @include ipad_sm {
      flex-wrap: wrap;
    }
    .heading {
      width: 40%;
      @include ipad_sm {
        width: 100%;
        padding-bottom: 20px;
      }
    .heading {
      width: 40%;

      h2 {
        font-size: 22px;
      }

      .btn_blk {
        margin-top: 20px;
      }
    }

    .flex {
      flex: 1;
      @include ipad_sm {
        flex: unset;
        width: 100%;
        justify-content: center;
      }
      .cols {
        width: calc(100% / 3);
        @include mobile_md {
          width: calc(100% / 2);
          padding: 15px 0;
        }
        @include mobile_xs {
          width: 100%;
        }
        padding: 0 20px;

        h4 {
          font-family: "Italic";
          //   border-bottom: 2px solid #2563EB;
          //   padding-bottom: 10px;
          font-size: 40px;
          position: relative;
          margin-bottom: 30px;

          &::before {
            position: absolute;
            content: "";
            bottom: -14px;
            left: 0;
            height: 2px;
            width: 20%;
            background-color: #2563eb;
          }
        }

        p {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}

.service_pg {
  padding: 0;

  .inner_block {
    border: 1px solid #64748b7d;
    margin-bottom: 70px;
    @include mobile_md {
      margin-bottom: 20px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;

      //   margin-bottom: 0;
      .col1 {
        padding-right: 0;
        padding-left: 40px;
        @include ipad_sm {
          padding-left: 0;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: unset;
      margin-bottom: 70px;
      @include mobile_md {
        margin-bottom: 20px;
      }
      .col1 {
        padding-left: 0;
        padding-right: 40px;
        @include ipad_sm {
          padding-right: 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#optionalads {
  padding: 0;
  padding-top: 5rem;
  .sec_heading {
    margin-bottom: 30px;
  }

  .flex {
    margin: -1rem;

    .cols {
      width: calc(100% / 2);
      padding: 10px;
      @include mobile_md {
        width: 100%;
      }
      .inner {
        background-color: #1a1a1a;
        border-radius: 14px;
        padding: 20px;

        p {
          margin-bottom: 0;
          font-size: 20px;
        }
      }
    }
  }
}

.detailpg {
  .two_cols {
    .cols {
      align-self: center;
      &:first-child {
        width: 60%;
        @include mobile_b {
          width: 100%;
          padding-bottom: 15px;
        }
      }
      &:last-child {
        width: 40%;
        @include mobile_b {
          width: 100%;
        }
      }

      .image {
        @include img($pb: 75%);
        box-shadow: none;
        background: none;
        margin: 0;
        @include radius(21px);

        img {
          @include object(contain);
          @include pos;
        }
      }
    }
  }
}

#offer {
  padding: 0;

  .sec_heading {
    max-width: 800px;
    margin: auto;
  }
}

#compliance {
  .sec_heading {
    max-width: 60rem;
    margin-bottom: 40px;
  }

  .cols {
    width: calc(100% / 4);
    @include ipad_b {
      width: calc(100% / 2);
    }
    @include mobile_md {
      width: 100%;
      padding: 10px 0;
    }
    padding: 10px;

    .inner {
      background-color: #020202;
      border: 1px solid #2563eb45;
      height: 100%;
      padding: 20px 28px;
      border-radius: 14px;

      .icon {
        width: 60px;
        margin: 0 auto 20px;
      }

      h3 {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

#success {
  padding: 0;

  h2 {
    margin-bottom: 30px;
  }

  .flex {
    .cols {
      width: calc(100% / 4);
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_md {
        width: 100%;
        padding: 20px 0px;
      }
      padding: 0 10px;

      h4 {
        font-family: "Italic";
        //   border-bottom: 2px solid #2563EB;
        //   padding-bottom: 10px;
        font-size: 36px;
        position: relative;
        margin-bottom: 30px;

        &::before {
          position: absolute;
          content: "";
          bottom: -17px;
          left: 0;
          height: 2px;
          width: 20%;
          background-color: #2563eb;
        }
      }

      p {
        // text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
}

#results {
  padding-bottom: 0;
  margin-bottom: 7rem;
  .cmn_heading {
    margin-bottom: 30px;
  }

  .custom-arrow {
    position: absolute;
    top: unset;
    bottom: -75px;
    background: rgba(24, 24, 24, 1);
    width: 50px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
    @include radius(100%);
  }

  .next-arrow {
    right: 45.5%;
    @include ipad_b {
      right: 44%;
    }
    @include ipad_sm {
      right: 42%;
    }
    @include mobile_md {
      right: 32%;
    }
  }

  .prev-arrow {
    left: 45.5%;
    @include ipad_b {
      left: 44%;
    }
    @include ipad_sm {
      left: 42%;
    }
    @include mobile_md {
      left: 32%;
    }
  }

  .item {
    padding: 0 8px;

    .inner {
      .image {
        @include img($pb: 75%);
        box-shadow: none;
        background: none;
        margin: 0 0 30px 0;
        @include radius(21px);

        img {
          @include object(contain);
          @include pos;
        }
      }

      a {
        color: $primary-color;
      }
    }
  }
}

#approach {
  .flex1 {
    @include mobile_b {
      flex-direction: column-reverse;
    }
  }
  .colL {
    width: 60%;
    @include mobile_b {
      width: 100%;
    }
  padding-top: 5rem;

  .colL {
    width: 60%;
    .cols {
      width: calc(100% / 2);
      @include mobile_md {
        width: 100%;
        padding: 10px 0;
      }
      padding: 10px;

      &:nth-child(1) {
        transform: translateY(39px);
        @include mobile_b {
          transform: unset;
          -webkit-transform: unset;
          -moz-transform: unset;
          -ms-transform: unset;
          -o-transform: unset;
        }
      }
      &:nth-child(3) {
        transform: translateY(39px);
        @include mobile_b {
          transform: unset;
          -webkit-transform: unset;
          -moz-transform: unset;
          -ms-transform: unset;
          -o-transform: unset;
        }

      &:nth-child(4) {
        margin-top: -60px;
      }

      .outer_blk {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          margin-bottom: 15px;
          font-size: 25px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .colr {
    width: 40%;
    @include mobile_b {
      width: 100%;
      padding-left: 0;
      padding-bottom: 15px;
    }
    align-self: center;
    padding-left: 40px;

    h2 {
      margin-bottom: 20px;
    }

    .btn_blk {
      margin-top: 20px;
    }
  }
  .site_btn {
    @include mobile_md {
      width: 100%;
    }
  }
}

#projects {
  .inner_block {
    &:last-child {
      margin-bottom: 0;
    }
    @include ipad_sm {
      flex-direction: unset;
    }
    &.project_blk_outer {
      @include mobile_md {
        padding: 2rem;
      }
    }
  }
  .single_block {
    .col1 {
      @include ipad_sm {
        padding-left: 0;
      }
    }
    // .col2 {
    //   .image {
    //     @include mobile_md {
    //       padding-bottom: 37rem;
    //     }
    //   }
    // }
  }
  .two_cols {
    margin: 0 -10px;

    .cols {
      padding: 10px;
      @include mobile_md {
        width: 100%;
      }
    }
  }

  .btn_blk {
    margin-bottom: 20px;
  }

  .cta1 {
    a {
      color: $primary-color;
    }

    margin-top: 20px;
  }

  .image_o {
    padding-bottom: 37rem;
    @include mobile_md {
      padding-bottom: 25rem;
    }
    img {
      object-fit: contain;
    }
  }
}

#capabilities {
  .cmn_heading {
    margin-bottom: 40px;
  }

  .flex {
    margin: 0 -60px;
    @include mobile_md {
      margin: 0;
    }
  }

  .cols {
    width: calc(100% / 3);
    @include ipad_sm {
      width: calc(100% / 2);
    }
    @include mobile_md {
      width: 100%;
      padding: 10px;
    }
    padding: 10px 60px;

    .icon {
      border-radius: 100%;
      height: 130px;
      width: 130px;
      padding: 30px;
    }

    .text {
      margin-top: 30px;
    }
  }
}

.tools {
  ul {
    li {
      h2 {
        font-size: 20px;
      }

      a {
        color: $primary-color;
      }
    }
  }
}

#faq_sec {
  padding: 0;

  .sec_heading {
    max-width: 800px;
    margin: 0 auto 40px;
  }
}

.faq-container {
  .faq-item {
    border-radius: 14px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: #1a1a1a;
    border: 1px solid #2563eb3d;

    .faq-question {
      width: 100%;
      padding: 24px;
      background: transparent;
      border: none;
      color: inherit;
      text-align: left;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .arrow {
        transition: transform 0.3s ease;
        width: 17px;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      padding: 0 16px;
      background: #2a2a2a;
      transition: max-height 0.4s ease, padding 0.3s ease;

      p {
        margin-bottom: 0;
      }

      &.open {
        max-height: 500px;
        padding: 16px;
      }
    }
  }
}

.prjct-detail {
  padding-bottom: 2rem !important;

  .sec_heading {
    margin-bottom: 30px;
  }

  .image {
    @include img($pb: 49%);
    box-shadow: none;
    background: none;
    margin: 0;
    @include radius(21px);

    img {
      @include object(contain);
      @include pos;
    }
  }
}


#content {
  padding: 0;
  h4 {
    margin-top: 30px;
  }

  .inner_card {
    margin-top: 40px;
  }
}

.single_block {
  .image {
    @include img($pb: 75%);
    box-shadow: none;
    background: none;
    margin: 0;
    @include radius(21px);

    img {
      @include object(contain);
      @include pos;
    }
  }

  .col1 {
    padding-right: 0;
    padding-left: 40px;
  }

}

.trans_prj {
  padding: 6rem 0 14rem 0;
}
}

.trans_prj {
  padding: 6rem 0 14rem 0;
}


// tabs

.tab-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  background-color: #000;
  color: #fff;

  .col1 {
    width: 25%;

    @include ipad_sm {
      width: 100%;
    }
  }

  .col2 {
    width: 75%;
    margin-top: 0;
    padding-left: 4rem;

    @include ipad_sm {
      width: 100%;
      padding-left: 0;
      padding-top: 30px;
    }
  }


  .tab-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 250px;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 20px;

    .tab-button {
      padding: 12px 16px;
      background: #1a1a1a;
      border: 1px solid #4B4B4B;
      color: #fff;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover,
      &.active {
        // background-color: #222;
        color: #fff;
        border: 1px solid $primary-color;
      }
    }
  }

  .tab-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    flex: 1;

    @include mobile_md {
           grid-template-columns: 1fr;
    }

    .card {
      background: #1A1A1A;
      border: 1px solid #262626;
      padding: 30px;
      border-radius: 10px;
      transition: transform 0.3s ease;
      height: fit-content;

      &:hover {
        transform: translateY(-5px);
      }

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow {
          font-size: 1rem;
          color: $primary-color;
        }
      }

      p {
        color: #fff;
      }
    }
  }
}

