.two_cols {
  .cols {
    width: 50%;
    &.abt_right_col{
      align-self: flex-end;
    }
  }
  &.abt_two_cols{
    margin-bottom: 4rem;
    .cols{
      h2{
        margin-bottom: 0;
      }
    }
  }
}
.cmn_heading {
  .title {
    h5 {
      color: $primary-color;
      font-family: "Bold";
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}
.center_heading {
  text-align: center;
}
.border_blue_box {
  background: $sec_bg;
  padding: 80px 25px;
  @include radius(15px);
  border-left: 1px solid $primary-color;
  position: relative;
    padding-bottom: 48px;
}
.image_o {
  position: relative;
  img {
    @include pos;
    width: 100%;
    height: 100%;
  }
}
.custom-arrow {
  position: absolute;
  top: unset;
  bottom: -75px;
  background: rgba(24, 24, 24, 1);
  width: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  @include radius(100%);
}
// =======
.banner {
  padding-top: 20rem;
  padding-bottom: 1rem;
  background-image: url(/images/banner-bg.jpg);
  @include bg;
  &:before{
    @include pos;
    content: '';
    background: linear-gradient(180deg, #000000c4, #000);
  }
  .inside {
    max-width: 95rem;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-family: "Medium";
      margin-bottom: 25px;
    }
    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 3rem;
      padding-bottom: 5rem;
    }
  }
}
// === sec_features ====
.sec_features {
  text-align: left;
  padding-bottom: 0;
&.sec_changes{
  padding-top: 16rem;
}
  .inner_block {
    .cols {
      width: calc(100% / 3);
      padding: 0 30px;
      .inner {
        display: flex;
        align-items: center;
        .percentage {
          width: 59%;
          p {
            font-size: 30px;
            margin-bottom: 0;
            text-align: right;
            strong{
              font-family: 'SemiBold';
              font-style: italic;
            }
          }
        }
        .content {
          position: relative;
          padding-left: 15px;
          margin-left: 15px;
          p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            font-family: 'Medium';
          }
          &::before {
            @include pos($t: 5px);
            content: "";
            width: 1px;
            height: 77%;
            background: #ffffff5c;
          }
        }
      }
    }
  }
}
// ======= sec_about ===
.sec_about {
  padding-bottom: 0;
  .flex {
    align-items: center;
    .cols {
      .cta {
        margin-top: 20px;
        width: fit-content;
      }
    }
  }
  .quote_block {
    margin-top: 25px;
    .image {
      width:80px;
      height: 65px;
      @include pos($r:null,$b:null,$t:1rem,$l:2rem);
    }
    .quote {
      padding-left: 20px;
      h3 {
        font-family: "Italic";
        font-size: 4rem;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size:1.8rem;
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }
}
// ==== sec_critical ====
.sec_critical {
  .center_heading {
    max-width: 60rem;
    margin: 0 auto 3rem;
    &.groundup_heading{
      max-width: 80rem;
    }
  }
  .flex {
    margin: -1.5rem;
    .cols {
      width: calc(100% / 3);
      padding: 15px;
      .inner {
        display: flex;
        background: $sec_bg;
        @include radius(10px);
        padding: 36px;
        .image {
          width: 7rem;
          height: 7rem;
          overflow: hidden;
          img{
            @include object(contain);
          }
        }
        .content {
          padding-left: 20px;
          width: 70%;
          align-self: center;
          h6 {
            margin-bottom: 0;
       font-size: 25px;
          }
        }
      }
    }
  }
}

// ==== sec_cta ===
.sec_cta {
  .inner {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}
// ===== sec_projects===
.sec_projects {
  padding-bottom: 0;
  padding-top: 0;
  .head {
    display: flex;
    margin-bottom: 3rem;
    .cols {
      align-self: center;
      .cta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .inner_block {
    background: $sec_bg;
    @include radius(15px);
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 6rem;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      margin-bottom: 0;
      .col1 {
        padding-right: 0px;
        padding-left: 40px;
      }
    }
    .col1 {
      width: 50%;
      padding-right: 40px;
      align-self: center;
      p{
        color: rgba(255, 255, 255, 0.76);
      }
      h3{
        font-size: 3rem;
      }
      ul {
        li {
          color: rgba(255, 255, 255, 0.76);
          padding-bottom: 10px;
        }
      }
      .listing {
        li {
          padding-bottom: 3px;
        }
      }
      .info {
        padding-left: 0;
        li {
          list-style: none;
          line-height: 1.4;
        }
      }
      .impact {
        h6 {
          color: $primary-color;
          text-transform: uppercase;
        }
      }
      .cta1 {
        margin-top: 35px;
        width: fit-content;
      }
    }
    .col2 {
      width: 50%;
      align-self: center;
      .image_o {
        @include img(70%);
        box-shadow: none;
        background-color: transparent;
        border: 1px solid #64748b38;
        img {
          @include pos;
          @include object;
        }
      }
    }
    &:nth-child(odd){
      .col2{
        .image_o{
          img{
            object-position: left;
          }
        }
      }
    }
    &.project_blk_outer{
      .image_o {
        @include img(70%);
        box-shadow: none;
        background-color: transparent;
        border: 1px solid #64748b38;
        img {
          @include pos;
          @include object;
          object-fit: cover!important;
        }
      }       
      padding: 4rem;
      .text{
        margin-top: 2rem;
        .btn_blk{
          .site_btn{
            padding: 0 2rem;
            min-width: unset;
            height: 4rem;
          }
        }
      }
    }
  }
}
// ===== sec_scalable ====
.sec_scalable {
  padding-bottom: 0;
  padding-top: 10rem;
  .flex {
    background: $sec_bg;
    padding: 8rem;
    @include radius(15px);
    border: 1px solid rgba($primary-color,0.2);
    .col1 {
      padding-right: 30px;
      ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          &:nth-child(even) {
            transform: translateY(33px);
          }
          width: calc(100% / 2);
          list-style: none;
          padding: 10px;
          .inner {
            height: 100%;
            background: $black;
            @include radius(10px);
            padding: 20px;
            text-align: center;
            border: 1px solid rgba(37, 99, 235, 0.25);
            .image {
              width: 80px;
              margin: 0 auto;
              margin-bottom: 15px;
            }
            .text {
              h5 {
                margin-bottom: 0;
                font-size: 19px;
                font-family: "SemiBold";
              }
            }
          }
        }
      }
    }
    .col2 {
      padding-left: 40px;
      align-self: center;
      h2{
        margin-bottom: 2rem;
      }
      .cta {
        width: fit-content;
        margin-top: 30px;
      }
    }
  }
}
// ==== sec_services ====
.sec_services {
  padding-bottom: 4rem;
  .cmn_heading {
   max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .inner {
    background: $sec_bg;
    @include radius(10px);
    padding: 35px;
    display: flex;
    height: 100%;
    margin: 10px;
    align-items: center;
    .image {
      width: 140px;
      padding: 30px;
      height: 140px;
      @include radius(100%);
      background: $black;
      margin-right: 20px;
      border: 1px solid rgba($primary-color,0.3);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .text {
      width: 70%;
      h5 {
        font-family: "SemiBold";
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  .next-arrow {
    right: 45.5%;
  }
  .prev-arrow {
    left: 45.5%;
  }
}
// === sec_changes
.sec_changes {
  .inner_block {
    width: 80%;
    margin: 0 auto;
    .cols {
      .inner {
        .content {
          &::before {
            background: $primary-color;
          }
        }
      }
    }
  }
}
// ==== sec_transform
.sec_transform {
  padding-bottom: 0;
  .cmn_heading {
   max-width: 70rem;
   margin-bottom: 3rem;
  }
  .listings {
    padding-top: 10rem;
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 33px;
    justify-content: center;
    li {
      list-style: none;
      border: 1px solid #2563eb;
      background: rgba(13, 13, 13, 1);
      padding: 18px 32px;
      text-align: center;
      position: relative;
      min-width: 136px;
      @include radius(50px);
      &::before {
        position: absolute;
        left: -30px;
        z-index: 5;
        top: 0;
        bottom: 0;
        content: "";
        width: 25px;
        background: url(/images/arrow_small.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
      h6 {
        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 10px;
        font-size: 14px;
        font-family: "SemiBold";
      }
    }
  }
  .col1 {
    width: 35%;
    align-self: center;
    padding-right: 2rem;
  }
  .col2 {
    width: 65%;
    padding-left: 50px;
    .inner_card {
      background: $sec_bg;
      padding: 40px;
      @include radius(15px);
      border: 1px solid rgba(100, 116, 139, 0.62);
      display: flex;
      flex-wrap: wrap;

      .cols {
        width: 50%;

        &:first-child {
          ul {
            &::before {
              display: none;
            }
          }
        }
        ul {
          position: relative;
          padding-left: 0;

          &::before {
            position: absolute;
            content: "";
            @include pos($l: -24px, $t: 10px);
            width: 1px;
            height: 99%;
            background: #383838;
          }
          li {
            width: 100%;
            list-style: none;
            padding: 10px 0;
            border-bottom: 1px solid #383838;
            &:last-child {
              border-bottom: none;
              padding-bottom: 0;
            }

            h5 {
              margin-bottom: 0;
              font-family: "Medium";
              font-size: 2rem;
            }
            p {
              margin-bottom: 0;
              color: rgba(255, 255, 255, 0.89);
            }
          }
        }
      }
    }
  }
}
// ==== contact_form
.contact_form {
  padding-top: 16rem;
  padding-bottom: 0;
  .main_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .col1 {
    width: 40%;
    padding-right: 15px;
    .inner_card {
      background: $sec_bg;
      overflow: hidden;
      @include radius(30px);
      border: 1px solid rgba(37, 99, 235, 0.28);
      .image_o {
        padding-bottom: 31rem;
        img {
          object-fit: cover;
          object-position: top;
        }
      }
      .content {
        padding: 2rem;
        ul {
          padding-left: 0;
          margin: 15px 0;
          li {
            list-style: none;
            display: flex;
            padding-bottom: 20px;
            .icons {
              width: 30px;
              padding-right: 10px;
            }
            p {
              margin-bottom: 0;
            }
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .col2 {
    width: 60%;
    form {
      background: $sec_bg;
      padding: 40px;
      @include radius(30px);
      border: 1px solid rgba(37, 99, 235, 0.28);
      .txtGrp {
        margin-bottom: 20px;
      }
      button {
        border: none;
      }
      .buTn {
        display: flex;
        justify-content: center;
      }
    }
  }
}
// ===== sec_result
.sec_result {
  padding-top: 16rem;
  padding-bottom: 0;
  .col1 {
    width: 50%;
    align-self: center;
    p{
      font-size: 22px;
    }
  }
  .col2 {
    width: 50%;

    .image_o {
      padding-bottom: 50rem;
      img {
        object-fit: contain;
      }
    }
  }
}
// ===== sec_transformation ====
.sec_transformation {
  padding-top: 0;
  .col2 {
    padding-left: 0;
    width: 100%;
    .inner_card {
      margin-top: 20px;
      .cols {
        width: calc(100% / 3);
      }
    }
  }
}
// ==== sec_reliable
.sec_reliable {
  padding-bottom: 0;
  .col1 {
    width: 50%;
    .image_o {
      padding-bottom: 100%;
      img {
        object-fit: contain;
      }
    }
  }
  .col2 {
    width: 50%;
    align-self: center;
    padding-left: 60px;
    .cta {
      margin-top: 20px;
      width: fit-content;
    }
  }
}

// === sec_perform ===
.sec_perform {
  .cmn_heading {
    text-align: center;
    width: 46%;
    margin: 0 auto 40px;
  }
  .flex {
    .cols {
      width: calc(100% / 4);
      padding: 10px;
      .inner {
        background: $sec_bg;
        padding:40px 20px;
        @include radius(10px);
        border: 1px solid rgba(37, 99, 235, 0.28);
        .image {
           width: 60px;
    margin: 0 auto;
    margin-bottom: 25px;
        }
        .text {
          text-align: center;
          h5 {
            margin-bottom: 0;
            font-size: 20px;
            font-family: "SemiBold";
          }
        }
      }
    }
  }
}
// ===== sec_testimonials
.sec_testimonials {
  padding-bottom: 0;
  padding-top: 0;
  .cmn_heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .item {
    .inner {
      background: $sec_bg;
      padding: 8rem 12rem;
      text-align: center;
      @include radius(15px);
      border: 1px solid rgba(37, 99, 235, 0.24);
      max-width: 80rem;
      margin: 0 auto;
      .text {
        max-width: 47rem;
        margin: 0 auto;
        p {
          margin-bottom: 0;
          margin-top: 20px;
          color: rgba(255, 255, 255, 0.74);
          
        }
        h5{
          font-style: italic;
          line-height: 1.5;
        }
      }
    }
  }
  .custom-arrow {
    top: 48%;
  }
  .next-arrow {
    right: 15rem;
  }
  .prev-arrow {
    left: 15rem;
  }
}
// ==== sec_win
.sec_win {
  padding-top: 10rem;
  .cmn_heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .inner_card {
    background: $sec_bg;
    padding: 2rem;
    @include radius(15px);
    border: 1px solid rgba(37, 99, 235, 0.24);
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    .cols {
      width: calc(100% / 4);
      padding: 10px 47px;
      .head {
        width: fit-content;
        position: relative;
        padding-bottom: 15px;
        &::before {
          @include pos($t: 57px);
          content: "";
     

    width: 35%;
    height: 1.6px;
    background: #2563eb;
        }
        h2 {
          font-size: 3.5rem;
          strong {
            color: $white;
  font-family: "Italic";

          }
        }
      }
      h6 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
// ===== sec_strategy ===
.sec_strategy {
  padding-bottom: 0;
  .cmn_heading {
    width: 61%;
  }
  .sec_content {
    width: 61%;
    margin-bottom: 15px;
  }
  .col2 {
    display: flex;
    margin-top: 25px;
    .tabs {
      align-self: baseline;
      padding-left: 0;
      width: 21%;
      background: $sec_bg;
      padding: 2rem;
      @include radius(10px);
      li {
        &.active {
          border: 1px solid $primary-color;
          a {
            color: $primary-color;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        list-style: none;
        border: 1px solid #4b4b4b;
        padding: 11px 12px;
        text-align: center;
        position: relative;
        min-width: 136px;
        margin-bottom: 10px;
        @include radius(50px);
        a {
          color: $white;
          font-size: 16px;
        }
      }
    }
    .grids {
      width: 79%;
      padding-left: 25px;
      .flex {
        .cols {
          width: calc(100% / 2);
          padding: 10px;
          .inner {
            background: $sec_bg;
            padding: 2rem;
            @include radius(10px);
            .head {
              h5 {
                position: relative;
                padding-right: 10px;
                &::before {
                  @include pos($l: unset);
                  content: "";
                  width: 25px;
                  transform: rotate(-45deg);
                  background: url(/images/arrow_small.svg);
                  height: 25px;
                }
              }
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
// === sec_capability
.sec_capability {
  .cmn_heading {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .image_o {
    padding-bottom: 40rem;
    img {
      object-fit: contain;
    }
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 20px 20px;
      .image {
        width: 34px;
        margin-bottom: 30px;
      }
    }
  }
}
// === sec_smallBanner
.sec_smallBanner {
  padding-top: 16rem;
  position: relative;
  &::before {
    @include pos($t: unset);
    content: "";
    width: 100%;
    background: url(/images/small-b.png);
    height: 47%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inside {
    width: 56%;
    margin: 0 auto;
    text-align: center;
    ul {
      margin-top: 30px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      gap: 15px;
      li {
        list-style: none;
      }
    }
  }
}
// ==== sec_featured
.sec_featured {
  padding-bottom: 0;
  .cmn_heading {
    width: 60%;
    margin-bottom: 40px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 5px;
      &:first-child {
        width: 66.666%;
      }
      .inner {
        background: $sec_bg;
        padding: 2rem;
        border: 1px solid #535455;
        @include radius(10px);
        height: 100%;
        .head {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          h5 {
            margin-bottom: 0;
          }
          .icons {
            padding-right: 10px;
            width: 30px;
          }
        }
        .link {
          margin-bottom: 40px;
          a {
            color: $primary-color;
            i {
              padding-left: 10px;
            }
          }
        }
        .image_o {
          margin-top: 15px;
          padding-bottom: 27rem;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
// ==== sec_innovate ===
.sec_innovate {
  padding-bottom: 0;
  .inner_card {
    background: $sec_bg;
    padding: 5rem;
    border: 1px solid rgba(37, 99, 235, 0.37);
    @include radius(20px);
    h2 {
      font-family: "SemiBold";
    }
    .flex {
      margin-top: 20px;
      .cols {
        width: calc(100% / 3);
        padding: 5px;
        .inner {
          background: $black;
          padding: 1.8rem;
          border: 1px solid rgba(37, 99, 235, 0.35);
          @include radius(10px);
          height: 100%;
          h5 {
            font-family: "SemiBold";
            position: relative;
            margin-bottom: 15px;
            &::before {
              @include pos($l: unset, $r: 0, $t: -1px);
              content: "";
              width: 28px;
              background: url(/images/innovate.png);
              height: 27px;
              background-size: contain;
            }
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
// ==== case_detail
.case_detail {
  padding-top: 16rem;
  padding-bottom: 0;
  .top_area {
    width: 63%;
    margin: 0 auto;
    text-align: center;
    p{
      font-size: 24px;
    }
    .image_o {
      padding-bottom: 30rem;
      margin: 40px 0;
      img {
        object-fit: contain;
      }
    }
  }
  .flex {
    .inner_card {
      background: $sec_bg;
      padding: 4rem;
      border: 1px solid rgba(37, 99, 235, 0.35);
      @include radius(20px);
    }
    .col1 {
      width: 65%;
      padding-right: 15px;
      .block {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .col2 {
      width: 35%;
      .tab_content {
        h5 {
          color: #98989a;
        }
        .list {
          background: $sec_bg;
          padding: 1.8rem;
          padding-left: 3.5rem;
          border: 1px solid rgba(37, 99, 235, 0.35);
          @include radius(10px);
          font-size: 15px;
        }
      }
      .listings {
        padding-left: 0;
        margin-bottom: 20px;
        li {
          list-style: none;
          padding: 1.2rem;
          border: 1px solid rgba(37, 99, 235, 0.35);
          @include radius(10px);
          background: $sec_bg;
          font-size: 15px;
          margin-bottom: 10px;
          h6 {
            margin-bottom: 0;
          }
          p {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
      .mini_btn {
        padding-left: 0;
        display: flex;
        gap: 5px;
        li {
          display: flex;
          align-items: center;
          background: #141414;
          list-style: none;
          border: 1px solid #262626;
          padding: 3px 10px;
          @include radius(50px);
          p {
            margin-bottom: 0;
            font-size: 13px;
            color: #98989a;
          }
          .icons {
            width: 25px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}


.services_banner{
  .sec_heading{
    max-width: 90rem;
    margin: 0 auto;
  }
}