.two_cols {
  .cols {
    width: 50%;
  }
}
.cmn_heading {
  .title {
    h5 {
      color: $primary-color;
      font-family: "Bold";
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
.center_heading {
  text-align: center;
}
.border_blue_box {
  background: $sec_bg;
  padding: 15px;
  @include radius(15px);
  border-left: 1px solid $primary-color;
}
.image_o {
  position: relative;
  img {
    @include pos;
    width: 100%;
    height: 100%;
  }
}
// =======
.banner {
  padding-top: 17rem;
  padding-bottom: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/banner_bg.png);
  .inside {
    width: 79%;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-family: "Medium";
      margin-bottom: 25px;
    }
    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 25px;
      padding-bottom: 5rem;
    }
  }
}
// === sec_features ====
.sec_features {
  text-align: left;
  padding-bottom: 0;

  .inner_block {
    .cols {
      width: calc(100% / 3);
      padding: 0 30px;
      .inner {
        display: flex;
        align-items: center;
        .percentage {
          width: 59%;
          p {
            font-size: 26px;
            margin-bottom: 0;
            text-align: right;
          }
        }
        .content {
          position: relative;
          padding-left: 15px;
          margin-left: 15px;
          p {
            margin-bottom: 0;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
          }
          &::before {
            @include pos($t: 5px);
            content: "";
            width: 1px;
            height: 77%;
            background: #ffffff5c;
          }
        }
      }
    }
  }
}
// ======= sec_about ===
.sec_about {
  padding-bottom: 0;
  .flex {
    align-items: center;
    .cols {
      .cta {
        margin-top: 20px;
        width: fit-content;
      }
    }
  }
  .quote_block {
    margin-top: 25px;
    .image {
      width: 53px;
    }
    .quote {
      padding-left: 20px;
      h3 {
        font-family: "Italic";
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.4rem;
      }
    }
  }
}
// ==== sec_critical ====
.sec_critical {
  .center_heading {
    width: 50%;
    margin: 0 auto;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;
      .inner {
        display: flex;
        background: $sec_bg;
        @include radius(10px);
        padding: 15px;
        .image {
          width: 58px;
        }
        .content {
          padding-left: 20px;
          width: 70%;
          align-self: center;
          h6 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// ==== sec_cta ===
.sec_cta {
  .inner {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}
// ===== sec_projects===
.sec_projects {
  padding-bottom: 0;
  padding-top: 0;
  .head {
    display: flex;
    .cols {
      .cta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .inner_block {
    background: $sec_bg;
    @include radius(15px);
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      margin-bottom: 0;
      .col1 {
        padding-right: 0px;
        padding-left: 40px;
      }
    }
    .col1 {
      width: 50%;
      padding-right: 40px;
      align-self: center;
      ul {
        li {
          color: rgba(255, 255, 255, 0.76);
          padding-bottom: 10px;
        }
      }
      .listing {
        li {
          padding-bottom: 3px;
        }
      }
      .info {
        padding-left: 0;
        li {
          list-style: none;
          line-height: 1.4;
        }
      }
      .impact {
        h6 {
          color: $primary-color;
        }
      }
      .cta1 {
        margin-top: 35px;
        width: fit-content;
      }
    }
    .col2 {
      width: 50%;
      align-self: center;
      .image_o {
        padding-bottom: 37rem;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
// ===== sec_scalable ====
.sec_scalable {
  padding-bottom: 0;
  .flex {
    background: $sec_bg;
    padding: 6rem;
    @include radius(15px);
    .col1 {
      padding-right: 30px;
      ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          &:nth-child(even) {
            transform: translateY(33px);
          }
          width: calc(100% / 2);
          list-style: none;
          padding: 10px;
          .inner {
            height: 100%;
            background: $black;
            @include radius(10px);
            padding: 20px;
            text-align: center;
            border: 1px solid rgba(37, 99, 235, 0.25);
            .image {
              width: 53px;
              margin: 0 auto;
              margin-bottom: 15px;
            }
            .text {
              h5 {
                margin-bottom: 0;
                font-size: 15px;
                font-family: "SemiBold";
              }
            }
          }
        }
      }
    }
    .col2 {
      padding-left: 40px;
      align-self: center;
      .cta {
        width: fit-content;
        margin-top: 20px;
      }
    }
  }
}
// ==== sec_services ====
.sec_services {
  padding-bottom: 4rem;
  .cmn_heading {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .inner {
    background: $sec_bg;
    @include radius(10px);
    padding: 30px;
    display: flex;
    height: 100%;
    margin: 10px;
    align-items: center;
    .image {
      width: 90px;
      padding: 19px;
      height: 90px;
      @include radius(100%);
      background: $black;
      margin-right: 35px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .text {
      width: 70%;
      h5 {
        font-family: "SemiBold";
      }
    }
  }
  .custom-arrow {
    position: absolute;
    top: unset;
    bottom: -43px;
    background: rgba(24, 24, 24, 1);
    width: 30px;
    height: 30px;
    padding: 9px;
    cursor: pointer;
    @include radius(100%);
  }
  .next-arrow {
    right: 47%;
  }
  .prev-arrow {
    left: 47%;
  }
}
// === sec_changes
.sec_changes {
  .inner_block {
    width: 80%;
    margin: 0 auto;
    .cols {
      .inner {
        .content {
          &::before {
            background: $primary-color;
          }
        }
      }
    }
  }
}
// ==== sec_transform
.sec_transform {
  padding-bottom: 0;
  .cmn_heading {
    width: 62%;
  }
  .listings {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 33px;
    justify-content: center;
    li {
      list-style: none;
      border: 1px solid #2563eb;
      background: rgba(13, 13, 13, 1);
      padding: 11px 19px;
      text-align: center;
      position: relative;
      min-width: 136px;
      @include radius(50px);
      &::before {
        position: absolute;
        left: -30px;
        z-index: 5;
        top: 4px;
        content: "";
        width: 25px;
        background: url(/images/arrow_small.svg);
        height: 25px;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
      h6 {
        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 10px;
        font-size: 13px;
        font-family: "SemiBold";
      }
    }
  }
  .col1 {
    width: 35%;
    align-self: center;
  }
  .col2 {
    width: 65%;
    padding-left: 40px;
    .inner_card {
      background: $sec_bg;
      padding: 20px;
      @include radius(15px);
      border: 1px solid rgba(100, 116, 139, 0.62);
      ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          @include pos($l: 45%, $t: 13px);
          width: 1px;
          height: 99%;
          background: #383838;
        }
        li {
          width: 50%;
          list-style: none;
          padding: 10px 0;
          border-bottom: 1px solid #383838;
          &:last-child {
            border-bottom: none;
          }
          &:nth-last-child(2) {
            border-bottom: none;
          }
          h5 {
            margin-bottom: 0;
            font-family: "Bold";
          }
          p {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.89);
          }
        }
      }
    }
  }
}
// ==== contact_form
.contact_form {
  padding-top: 13rem;
  padding-bottom: 0;
  .main_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .col1 {
    width: 40%;
    padding-right: 15px;
    .inner_card {
      background: $sec_bg;
      overflow: hidden;
      @include radius(10px);
      border: 1px solid rgba(37, 99, 235, 0.28);
      .image_o {
        padding-bottom: 31rem;
        img {
          object-fit: cover;
          object-position: top;
        }
      }
      .content {
        padding: 2rem;
        ul {
          padding-left: 0;
          margin: 15px 0;
          li {
            list-style: none;
            display: flex;
            padding-bottom: 5px;
            .icons {
              width: 30px;
              padding-right: 10px;
            }
            p {
              margin-bottom: 0;
            }
            a {
              color: $white;
            }
          }
        }
      }
    }
  }
  .col2 {
    width: 60%;
    form {
      background: $sec_bg;
      padding: 20px;
      @include radius(10px);
      border: 1px solid rgba(37, 99, 235, 0.28);
      .txtGrp {
        margin-bottom: 20px;
      }
      button {
        border: none;
      }
      .buTn {
        display: flex;
        justify-content: center;
      }
    }
  }
}
// ===== sec_result
.sec_result {
  padding-top: 13rem;
  .col1 {
    width: 50%;
    align-self: center;
  }
  .col2 {
    width: 50%;

    .image_o {
      padding-bottom: 40rem;
      img {
        object-fit: contain;
      }
    }
  }
}
// ===== sec_transformation ====
.sec_transformation {
  padding-top: 0;
  .col2 {
    padding-left: 0;
    width: 100%;
    .inner_card {
      margin-top: 20px;
      ul {
        &::before {
          display: none;
        }
        li {
          width: calc(100% / 3);
          &:nth-last-child(3) {
            border-bottom: none;
          }
        }
      }
    }
  }
}
// ==== sec_reliable
.sec_reliable {
  padding-bottom: 0;
  .col1 {
    width: 50%;
    .image_o {
      padding-bottom: 100%;
      img {
        object-fit: contain;
      }
    }
  }
  .col2 {
    width: 50%;
    align-self: center;
    padding-left: 40px;
    .cta {
      margin-top: 20px;
      width: fit-content;
    }
  }
}
